.github
.nyc_output
docs
hosting
hosting.sh
hosting.html
node_modules
src
test
.firebaserc
.gitignore
.npmignore
firebase.json
package-lock.json
serviceAccount.json
shell.js
tsconfig.json
tslint.json
typedoc.json
*.backup
*.log